* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

/* --------- Navbar --------- */
.login-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 40px;
  cursor: pointer;
}

.user-icon {
  margin-right: 10px;
}

.logo img {
  display: block;
  margin: auto;
  width: 100px;
  cursor: pointer;
}

.menu-area {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: baseline
}

.menu-list {
  display: flex;
  margin-right: 30px;
}

.menu-list li {
  padding: 10px;
}

.search-box .search-icon {
  margin-right: 10px;
}

.search-box .search-bar {
  width: 170px;
  height: 25px;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  box-sizing: border-box;
}

.search-box .search-bar:focus {
  border-bottom: 2px solid #000;
}

/* --------- ProductCard --------- */
.product-box {
  margin-bottom: 50px;
  cursor: pointer;
  position: relative;
}

.product-box .product-img {
  width: 100%;
  margin-bottom: 5px;
}

.product-box .price {
  font-weight: bold;
}

.product-box .new {
  position: absolute;
  right: 0;
  top: 70%;
  background-color: rgb(0, 115, 255);
  color: white;
  padding: 5px 15px;
}

@keyframes fontColorChange {
  0% {
    color: #000;
  }

  50% {
    color: #ff0000;
  }

  100% {
    color: #2b00ff;
  }
}

.product-box .choice {
  animation: fontColorChange 1s infinite backwards;
}

/* --------- SearchValueNull --------- */
.search-value-null-box{
  max-width: 1000px;
  width: 80%;
  margin: 30px auto;
  background-color: #ffa1ac;
  padding: 20px;
  border-radius: 10px;
}
.search-value-null-box div{
  text-align: center;
  color: white;
}
/* --------- Login --------- */
.login-box {
  max-width: 800px;
  width: 60%;
  height: 400px;
  margin: 30px auto;
  padding: 50px 70px;
  box-sizing: border-box;
}

.login-box h2 {
  font-weight: 900;
  color: #cd0118;
  margin-bottom: 40px;
}

.login-box form label,
.login-box form input,
.login-box form button {
  display: block;
}

.login-box form label {
  margin-bottom: 5px;
}

.login-box form input {
  margin-bottom: 20px;
  width: 100%;
  height: 30px;
  outline: none;
  padding-left: 10px;
  border: 1px solid #d6d6d6;
}

.login-box form button {
  margin-top: 20px;
  width: 70px;
  height: 35px;
  background-color: #cd0118;
  color: white;
  border: none;
  border-radius: 3px;
}
.login-box form button:hover{
  background-color: #c00218;
}


/* --------- ProductDetail --------- */
.detail-box{
  max-width: 900px;
  width: 80%;
  margin: auto;
}
.detail-box img{
  width: 40%;
  float: left;
}
.product-info{
  width: 60%;
  float: right;
  padding-top: 20px;
  padding-left: 30px;
  box-sizing: border-box;
}
.detail-box .product-info div{
  margin-bottom: 10px;
}
.detail-box .product-info .detail-title{
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}
.detail-box .product-info .new{
  margin-left: 10px;
  padding: 2px 10px;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  background-color: rgb(0, 115, 255);
  color: white;
}
.detail-box .product-info .choice {
  animation: fontColorChange 1s infinite backwards;
}

.detail-box .product-info select{
  max-width: 200px;
  width: 100%;
  outline: none;
}
.detail-box .product-info button{
  width: 100%;
  height: 40px;
  margin-top: 30px;
  background-color: #000;
  outline: none;
  color: white;
}
